.navbar-brand-heading{
  text-align: center;
  margin-top: 15px;
}

.navbar-brand{
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
