.sidebarContainer{
  width: 100%;
  height: 100%;
}

mat-drawer{
  width: 20%;
}

.navbar-brand-heading{
  text-align: center;
  margin-top: 15px;
}

.navbar-brand{
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

